* {
    box-sizing: border-box;    
}

html, body {
   
   width: 100;
   height: 100%;
   margin: 0;
   padding: 0;
   min-width: 30%;
   min-height: 30%;
   font-family: lexend, sans-serif;
}
  /*  =================================    TOP BAR START    =============================== */
  .top_bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 65px;
    z-index: 10;
    padding: 10px 0;
    border-bottom: 1px solid rgb(158, 158, 158);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.logo {
    transform: scale(.4);
    position: relative;
    left: -18px;
    top: 1px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.name {
    position: relative;
    left: -32.5%;
    font-size: 36px;             
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}

.navTop {
    position: fixed;
    right: 12%;
    height: 45px;
    width: 330px;
    margin-right: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 58, 93);
}

.menu:hover {
    transform: scale(1.1);
}

.locations:hover {
    transform: scale(1.1); 
}

.sign_in:hover {
    transform: scale(1.1); 
}

.order {
    display: flex;
    height: 45px;
    width: 180px;
    margin-right: 20px;
    border: 3px solid rgb(213, 27, 27);
    border-radius: 20px;
    color: rgb(213, 27, 27) !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
}

.order:hover {
    background-color: rgb(213, 27, 27);
    box-shadow: 0 0 0 2px rgb(223, 1, 1);
    color: white !important;
}

.order:active {
    border: 1px outset rgb(213, 27, 27);
    background-color: rgb(173, 26, 26);
    box-shadow: 0 0 0 2px rgb(223, 1, 1);
}

/*      =================     TOP BAR END    ==============   */

.hp_container {
   display: flex;
   position: relative;
   top: 5vh;
   height: 57vh;
}

.hp_food {
   /*width: 500px;
   height: 600px;*/
   width: 30%;
   height: 120%;
}

.hp_food img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hp_text {
   /*width: 900px;
   height: 600px;*/
   width: 55%;
   height: 120%;
   box-sizing: border-box;
   padding: 5px 50px 0px 30px;
}

h1 {
   padding-top: 4%;
   font-size: 50px;
}

h3 {
   padding-top: 5%;
   font-size: larger;
   font-weight: 350;
   line-height: 1.5;
}

.hp_buttons {
   display: flex;
   position: relative;
   top: 1vh;
}

.left {
   background-color: #fff397ff;
   width: 20vh;
   height: 15vh;
   border-radius: 25px;
   border: 2px solid  #ffef76;
}

.right {
   background-color: #fff397ff;
   width: 20vh;
   height: 15vh;
   margin-left: 5vh;
   border-radius: 25px;
   border: 2px solid  #ffef76;
}

.left:hover, .right:hover {
    border:2px solid rgb(173, 26, 26);
}

#button_text {
   text-align: center;
   font-weight: bold;
}

#button_icons {
   width: 40%;
   height: 50%;
   margin: 5% 5% -8% 30%;
}

.hp_people {
   /*width: 1000px;
   height: 600px;*/
   width: 100vh;
   height: 120%;
}

.hp_people img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


/*      =================     FOOTER START    ==============   */
.footer {
   position: relative;
   top: 16.4%;
   width: 100%;
   display: inline-flex;
   align-items: flex-start;
}

.bottomLeft {
   color: rgb(0, 58, 93);
   width: 50%;
   border-top: 40px solid rgb(213, 27, 27);
   padding-left: 15px;
}
       .bottomLeft h5 {
           font-size: 20px;
           font-weight: 600;   
       }
       .bottomLeft h6 {
           margin-top: 45px;
           font-size: 12px;
           margin-bottom: 10px;
           font-weight: 500;
       }
       .bottomLeft span {
           display: inline-block;
           margin-right: 12px;
           margin-bottom: 10px;
           font-size: 12px;
           font-weight: 500;
       }
        .bottomRight {
        border-top: 40px solid rgb(213, 27, 27);
        width: 50%;
        height: 193px;
        display: flex;
        width: 50%;
        justify-content: end;
        color: rgb(0, 58, 93);
        padding-top: 12.5%;
        }
       .family{
           transform: scale(.3);
           position: absolute;
           bottom: -43px;
           right: -70px;
           
       }
       .bottomLeft h5:hover {
            text-decoration: underline;
        }

       .logo2 {
           position: absolute;
           transform: scale(1);
           right: 40px;
           bottom: 35px;
       }
/*      =================     FOOTER END    ==============   */

