* {
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 30%;
    min-height: 30%;
    font-family: lexend, sans-serif;
}

  /*  =================================    TOP BAR START    =============================== */
  .top_bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 65px;
    z-index: 10;
    padding: 10px 0;
    border-bottom: 1px solid rgb(158, 158, 158);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.logo {
    transform: scale(.4);
    position: relative;
    left: -18px;
    top: 1px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.name {
    position: relative;
    left: -32.5%;
    font-size: 36px;             
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;         
}

.navTop {
    position: fixed;
    right: 12%;
    height: 45px;
    width: 330px;
    margin-right: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 58, 93);
}

.menu:hover {
    transform: scale(1.1);
}

.locations:hover {
    transform: scale(1.1);
}

.sign_in:hover {
    transform: scale(1.1); 
}

.order {
    display: flex;
    height: 45px;
    width: 180px;
    margin-right: 20px;
    border: 3px solid rgb(213, 27, 27);
    border-radius: 20px;
    color: rgb(213, 27, 27) !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
}

.order:hover {
    background-color: rgb(213, 27, 27);
    box-shadow: 0 0 0 2px rgb(223, 1, 1);
    color: white !important;
}

.order:active {
    border: 1px outset rgb(213, 27, 27);
    background-color: rgb(173, 26, 26);
    box-shadow: 0 0 0 2px rgb(223, 1, 1);
}

/*      =================     TOP BAR END    ==============   */



/*       =================    MAIN BODY   =================     */

.headerPhotos {
    display: inline-flex;
    width: 100%;
    position: absolute;
    top: 6%;
}

.headerPhotos img {
    width: 50%;
}

.directions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    width: 50%;
    padding-left: 130px;
    transform: scale(1.2);
}

h2 {
    margin: 5% 0 1% 20%;
    width: 50%;
    color:rgb(0, 58, 93);
    font-size: 23px;
}

h3 {
    margin: 0 0 0 0%;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
}

p {
    margin: 2% 0 0 0%;
    padding: 0 0 0 0;
    width: 100%;
    font-weight: 400;
}

iframe {
    margin-top: 10%;
    padding-right: 12%;
}

.container {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    margin: 1.25% 0 1.25% 20%;
    width: 60%;
}

.img_container1 {
    flex: 1;
}

.img_container1 img {
    margin: 7px 7px 7px 10px;
    padding: 0;
    display: block;
    width: 80%;
    height: auto;
}

.content_container1 { 
    padding: 0px 0 10px 10px;
    width: 87%;
}

.img_container2 {
    flex: 1;
}

.img_container2 img {
    margin: 7px 7px 7px 10px;
    padding: 0;
    display: block;
    width: 80%;
    height: auto;
}

.content_container2 { 
    padding: 0px 0 10px 10px;
    width: 87%;
}

.img_container3 {
    flex: 1;
}

.img_container3 img {
    margin: 7px 7px 7px 10px;
    padding: 0;
    display: block;
    width: 80%;
    height: auto;
}

.content_container3 { 
    padding: 0px 0 10px 10px;
    width: 87%;
}

.img_container4 {
    flex: 1;
}

.img_container4 img {
    margin: 7px 7px 7px 10px;
    padding: 0;
    display: block;
    width: 80%;
    height: auto;
}

.content_container4 { 
    padding: 0px 0 10px 10px;
    width: 87%;
}

.directions .add_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.directions iframe  {
    transform: scale(.7);
    width: 100%;
    position: absolute;
    left: 80%;
    top: -30%;
}

/*       =================    MAIN BODY   ================     */



 /*      =================     FOOTER ONLY    ==============   */
.footer {
    position: relative;
    top: 150%;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
 }

 .bottomLeft {
    color: rgb(0, 58, 93);
    width: 50%;
    border-top: 40px solid rgb(213, 27, 27);
    padding-left: 15px;
    font-weight: 600;
}
        .bottomLeft h5 {
            font-size: 20px;
            font-weight: 600;   
        }
        .bottomLeft h6 {
            margin-top: 45px;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .bottomLeft span {
            display: inline-block;
            margin-right: 12px;
            margin-bottom: 15px;
            font-size: 12px;
        }
.bottomRight {
    border-top: 40px solid rgb(213, 27, 27);
    width: 50%;
    height: 193px;
    display: flex;
    width: 50%;
    justify-content: end;
    color: rgb(24, 78, 131);
}
        .family{
            transform: scale(.3);
            position: absolute;
            bottom: -30px;
            right: -70px;
            
        }
        .signUp {
            position: absolute;
            font-weight: 500;
            right: 225px;
            bottom: 50px;
        }

        .bottomLeft h5:hover {
            text-decoration: underline;
        }

        .logo2 {
            position: absolute;
            transform: scale(1.2);
            right: 40px;
            bottom: 35px;
        }

 /*      =================     FOOTER ONLY    ==============   */
