* {
   box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: lexend, sans-serif;
}

/*  =================================    TOP BAR START    =============================== */

.top_bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 10;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(158, 158, 158);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2); 
  background-color: white;
}   

.logo {
 width: 45px;
 height: 45px;
 position: relative;
 left: 5px;
 top: 10px;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.name {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  bottom: 5px;
  left: 1vh;
}

.navTop {
  position: fixed;
  right: 13%;
  height: 45px;
  width: 330px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 58, 93);
}

.menu:hover {
  transform: scale(1.1);
}

.locations:hover {
  transform: scale(1.1); 
}

.sign_in:hover {
  transform: scale(1.1); 
}

.cart {
  display: flex;
  height: 48px;
  width: 48px;
  margin-right: 84px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart:hover {
  transform: scale(1.1);
  transition: all .1s ease-in;
}

/*      =================     TOP BAR END    ==============   */

/*      =================     MAIN CONTENT START    ==============   */

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main_content {
   display: flex;
   flex: 1;
   padding: 5px;
   margin-top: 5%;
}

.page_container {
   width: 40%;
   margin-right: 5%;
   margin-left: 15%;
   height: 140vh;
}

.section_one {
   border-radius: 15px;
   padding: 5px 10px 0px 15px;
   margin-bottom: 10px;
}

.info {  /* box model for input info */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 60%;
   margin-top: 10px;
}

.info input {  /*  input boxes  */
   width: 70%;
   margin-bottom: 24px;
   border: 2px solid black;
   border-radius: 12px;
   height: 50px;
   font-size: 18px;
   font-family: lexend, sans-serif;
}

.info input::placeholder {
   font-size: 16px;
   padding-left: 15px;
   font-family: lexend, sans-serif;
}

.info input:focus {
   box-shadow: 0 0 10px rgba(46, 21, 21, 0.5);
}

.info .eye {
   position: absolute;
   right: 280px;
   top:  370px;
   height: 25px;
   width: 30px;
}

.info .closeEye {
   position: absolute;
   right: 281px;
   top:  371px;
   height: 22px;
   width: 26px;
   display: none;
}
.info .eye:hover, .closeEye:hover {
   cursor: pointer;
}

.section_two {
   padding: 5px 10px 0px 15px;
   margin-bottom: 10px;
}

.payment { /* box model for payment info */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 60%;
   margin-top: 1px;
}
.payment h2 { /* Card Details and Billing Address headers */
   margin-top: -5px;
}

.payment input {  /*  input boxes for payment method  */
   width: 70%;
   margin-bottom: 24px;
   border: 2px solid black;
   border-radius: 12px;
   height: 50px;
   font-size: 18px;
   font-family: lexend, sans-serif;
}
.payment .cardInfo { /* expiration and CVV */
   display: inline-flex;
   justify-content: space-between;
   width: 70%;
}
.payment .cardInfo input {
   width: 48%;
}

button {
   background-color: rgb(213, 27, 27);
   border: 1px solid rgb(213, 27, 27);
   color: white;
   width: 80%;
   height: 50px;
   margin: 10px auto;
   display: block;
   border-radius: 6px;
   font-size: 21px;
   font-weight: 600;
   font-family: lexend, sans-serif;
   cursor: pointer;
}

button:hover {
   background-color: rgb(190, 23, 23);
}

button:active {
   background-color: rgb(206, 39, 39);
   border: 6px solid #d32c2c;
   cursor: pointer;
   box-shadow: 0 0 0 0px rgb(206, 39, 39);
   transform: scale(.99);
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   background-color: transparent;
   transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.header.active {
   background-color: rgb(0, 58, 93);
   color: white;
   padding: 0px 5px 0px 5px;
}

.content {
   padding: 10px;
   display: none;
}

.content.active {
   display: block;
}

.caret {
   transition: transform 0.3s ease;
}

.caret.up {
   transform: rotate(90deg);
}

.line {
   border-top: 1px solid gray;
   margin: 10px 0;
}

.order_info {
   width: 30%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}

.order_food {
   display: flex;
   flex-direction: column;
   flex: 0 1 50%;
   border: 2px solid rgb(213, 27, 27);
}

.cart_item {
   background-color: rgb(213, 27, 27);
   color: white;
   padding: 10px 10px 10px 10px;
   height: 70%;
   display: flex; 
   align-items: flex-start; 
   border-bottom: 2px solid white;
}

.img_container { 
   margin: 0;
   padding: 0;
}

.cart_item img {
   width: 80%;
   height: auto; 
   margin-left: 10px;
   
}

.content_container {
   flex: 1; 
   padding-left: 0px;
   margin-top: 15px;
   margin-right: 10px;
}

.item {
   display: flex; 
   align-items: center; 
   margin-bottom: 5px; 
 justify-content: space-between;
}

.item h3 {
   margin: 0;
   margin-right: 10px; 
}

.item_price {
   margin: 0;
   font-weight: bold;
}

.desc {
   margin-top: 15px; 
}

.bottom {
   height: 50%;
   padding: 10px;
}

.order_bottom {
   padding: 0px 25px 0px 25px;
}

.order_content {
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
}

.order_details {
   margin-top: 20px;
   flex: 0.45;
   display: flex;
   flex-direction: column;
}

.order_top {
   background-color:rgb(213, 27, 27);
   color: white;
   padding: 0px 25px 20px 25px;
}

.order_top h2 {
    font-size: 20px;
}

.checkout {
   display: table;
   margin: 0 auto;
   display: flex;
   height: 55px;
   width: 300px;
   border: 3px solid rgb(213, 27, 27);
   border-radius: 20px;
   color: rgb(213, 27, 27) !important;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 21px;
   font-weight: 700;
   margin-top: 20px;
}

.checkout:hover {
   background-color: rgb(213, 27, 27);
   box-shadow: 0 0 0 2px rgb(223, 1, 1);
   color: white !important;
}

.checkout:active {
   border: 1px outset rgb(213, 27, 27);
   background-color: rgb(173, 26, 26);
   box-shadow: 0 0 0 2px rgb(223, 1, 1);
}

/*   CONFIRMATION POPUP CODE  */
.confirmation {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   z-index: 10;
   font-family: lexend, sans-serif;
   display: none; 
}
.confirmationPop { /* popup box model */
   background-color: white;
   border-radius: 18px;
   position: fixed;
   height: 570px;
   width: 740px;
   top: 60px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 4;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.confirmationPop h2 {
   font-size: 42px;
}
.confirmation span {
   text-decoration: underline;
}
.closePop {
   background-color: white;
   border: 2px solid white;
   color: black;
   position: fixed;
   top: 5px;
   left: 10px;
   font-size: 33px;
   z-index: 12;
   height: 50px;
   width: 50px;
   text-align: center;
   font-weight: 700;
}
.closePop:hover {
   font-size: 34px;
   color: rgb(61, 61, 61);
   cursor: pointer;
   border-radius: 50%;
   background-color: rgb(243, 243, 243);
}
.redBorder {
   margin-top: 70px;
   border: 3px solid rgb(213, 27, 27);
   background-color: rgb(213, 27, 27);  
   width: 100%;
   color: white;
}
/*    END OF CONFIRMATION POPUP CODE   */

/*      =================     MAIN CONTENT END    ==============   */

/*      =================     FOOTER START    ==============   */ 

.footer {
   position: relative;
   top: 20%;
   width: 100%;
   display: inline-flex;
   align-items: flex-start;
   /*border: 3px solid skyblue;*/
}

.bottomLeft {
  color: rgb(0, 58, 93);
  width: 60%;
  border-top: 40px solid rgb(213, 27, 27);
  padding-left: 15px;
}
      .bottomLeft a {
          font-size: 20px;
          font-weight: 600;
      }
      .bottomLeft h6 {
          margin-top: 45px;
          font-size: 12px;
          margin-bottom: 10px;
          font-weight: 500;
      }
      .bottomLeft span {
          display: inline-block;
          margin-right: 12px;
          margin-bottom: 10px;
          font-size: 12px;
          font-weight: 500;
      }
.bottomRight {
  border-top: 40px solid rgb(213, 27, 27);
  width: 50%;
  height: 193px;
  display: flex;
  width: 50%;
  justify-content: end;
  color: rgb(0, 58, 93);
  padding-top: 12.5%;
}
      .family{
          transform: scale(.3);
          position: absolute;
          bottom: -43px;
          right: -70px;
          
      }

      .bottomRight a:hover {
          text-decoration: underline;
      }

      .logo2 {
          position: absolute;
          transform: scale(1);
          right: 40px;
          bottom: 35px;
      }
/*      =================     FOOTER END    ==============   */ 
